.home-body {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 950px) {
	.home-body {
		flex-direction: row;
	}
	.hb-statelist {
		width: 42%;
		padding: 0 5%;
		box-sizing: border-box;
	}
	.hb-map {
		margin: 0 1%;
	}
}