.home-body {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 950px) {
	.home-body {
		flex-direction: row;
	}
	.hb-statelist {
		padding: 0.2rem 5%;
		box-sizing: border-box;
		margin-left: auto;
	}
	.hb-map {
		margin: 0 1%;
	}
}